<article class="task-card">
  <div class="task-card-header">
    <div [ngStyle]="{'background-color': task.type === 'Technical Task' ? '#1FD7C1' : '#0038FF'}" class="badge">{{
      task.type }}
    </div>
    <div class="menu-btn-container" (click)="$event.stopPropagation()">
      <button class="menu-btn" type="button" aria-label="More actions" [attr.aria-expanded]="menuOpen"
        (click)="toggleFab($event)">⋮</button>
        <div class="fab-wrap" (click)="$event.stopPropagation()">
    <div class="fab-menu" *ngIf="menuOpen">
      <button type="button" 
      class="fab-item" 
      *ngFor="let target of moveTargets"
       (click)="onMove(target.value, $event)">
        {{ target.label }}
      </button>
    </div>
  </div>
    </div>
  </div>

  <h4 class="title">{{ task.title }}</h4>

  <p class="desc" *ngIf="task.description">
    {{ task.description }}
  </p>

  <div class="meta" *ngIf="task.subtasks?.length">
    <div class="progress">
      <div class="bar" [style.width.%]="(doneSubtasksCount / totalSubtasksCount) * 100">
      </div>
    </div>

    <span class="subtasks">
      {{ doneSubtasksCount }}/{{ totalSubtasksCount }} Subtasks
    </span>
  </div>

  <div class="assignees" *ngIf="task.assignees?.length">
    <div class="assignees__initials">
      <span class="avatar" *ngFor="let a of task.assignees!.slice(0, 5)"
        [style.background-color]="getAvatarColor(a.name || a.initials)">
        {{ a.initials || getInitials(a.name) }}
      </span>
      <span class="avatar avatar-overflow" *ngIf="task.assignees!.length > 5">+{{ task.assignees!.length - 5 }}</span>
    </div>
    <img class="prio-icon" [src]="priorityIcon[task.priority]" alt="'priority ' + task.priority">
  </div>


</article>