<section class="content">
  <div class="header-container">
    <div class="header-left">
      <img class="header-logo header-logo-desktop" src="assets/icons/logo.png" alt="Join Logo" />
      <img class="header-logo header-logo-mobile" src="assets/icons/logo2.png" alt="Join Logo" />
      <span class="header-text">Kanban Project Management Tool</span>
    </div>
    @if (supabase.isLoggedIn()) {
      <div class="header-buttons">
        <button routerLink="/help" class="help-button">
          <img src="assets/icons/help.svg" alt="Help Button" />
        </button>
        @if (avatarUrl()) {
          <button (click)="toggleMenu()" class="nav-button avatar-button">
            <img [src]="avatarUrl()" alt="User Avatar" class="avatar-image" />
          </button>
        } @else {
          <button (click)="toggleMenu()" class="nav-button">{{ getInitials() }}</button>
        }
      </div>
    }
  </div>
</section>
@if (isMenuOpen) {
  <div class="backdrop" (click)="closeMenu()" [class.closing]="isClosing()"></div>
  <div class="header-menu" [class.closing]="isClosing()" (click)="$event.stopPropagation()">
        <a class="header-links account" routerLink="/account" (click)="closeMenu()">Account</a>

    <a class="header-links help-link" routerLink="/help" (click)="closeMenu()">Help</a>
    <a class="header-links" routerLink="/legal" (click)="closeMenu()">Legal Notice</a>
    <a class="header-links" routerLink="/privacy" (click)="closeMenu()">Privacy Policy</a>
    <button class="header-links" (click)="logout()" type="button">Log out</button>
  </div>
}
