.auth-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f7f8;
  overflow-y: auto;
  position: relative;
}

.auth-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 48px;
}

.logo {
  font-weight: 800;
  letter-spacing: 1px;
  opacity: 0;
  animation: showImg 2s 2s forwards;
}

.logoAnimation {
  width: 273.9997558594px;
  height: 334.0722961426px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10;
  animation:
    moveFade 1s forwards,
    hideLogo 0.2s forwards;
  animation-delay:
    1s,
    2s;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #2a3647;
  opacity: 0;
  animation: showImg 2s 2s forwards;
}

.top-right-mobil{
  display: none;
}

.auth-main {
    flex: 1;
    display: flex;
    place-items: center;
    padding: 24px;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.auth-footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px 12px;
  opacity: 0.65;
  font-size: 14px;
}

.auth-footer a {
  text-decoration: none;
  color: #A8A8A8;
  font-size: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: showImg 2s 2s forwards;
  

  &::after {
    content: attr(data-text);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    white-space: nowrap;
  }

  &:hover {
    color: #29ABE2;
    font-weight: 700;
  }
}

.btn {
  border: unset;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 14px;
  transition: 100ms;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.btn-dark {
  background: #2a3647;
  color: #fff;
  transition: 100ms ease-in-out;
}
.btn-dark:hover {
  background: #29abe2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width:991px) {
  .top-right{
    display:none
  }
  .top-right-mobil{
  display: flex;
  margin-top: 20px;
}

img {
   width: 64px;
  height: 80px;
}
}

@media (max-width: 428px){
  
}

@keyframes showImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFade {
  from {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 1;
    top: 0px;
    left: 48px;
    transform: translate(0, 0) scale(0.4);
  }
}

@keyframes hideLogo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
