.form-actions {
  margin-top: 18px;

  button {
    border: unset;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 18px;
    transition: 100ms;
    font-weight: 600;
    width: auto;
    background: #2a3647;
    color: #fff;

    &:hover:not(:disabled) {
      background: #29abe2;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}


.links {
  margin-top: 24px;
  text-align: center;

  a {
    color: #29abe2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
