<section class="board-page">
  <div class="board-page-div">
    <section class="board-page">
      <div class="board-page-div">
        <header class="board-page__header">
          <h1 class="board-page__title">Board</h1>

          <div class="search">
            <input type="text" placeholder="Find Task" class="search-input" [(ngModel)]="searchQuery"
              (ngModelChange)="onSearchChange()" />
            <button type="button" class="search__icon" aria-label="Search">
              <img src="assets/icons/search.png" alt="Search" />
            </button>
          </div>

          <div class="board-page__toolbar">
            <button type="button" class="add-task-btn" (click)="openAddTaskDialog()">
              <span class="btn-text">Add task</span><img class="add-image" src="assets/icons/add.svg" alt="Add Task">
            </button>
          </div>
        </header>
        <div class="board" *ngIf="!isLoading">
          <app-board-column *ngFor="let column of columns" [title]="column.title" [tasks]="column.tasks"
            [columnId]="column.status" [connectedDropLists]="dropListIds" [openMenuTaskId]="openMenuTaskId"
            (menuToggleGlobal)="onMenuToggle($event)" (taskSelected)="selectTask($event)"
            (addClicked)="addTask(column.status)" (taskDropped)="onTaskDropped($event)"
            (moveTask)="onMoveTask($event)"></app-board-column>
        </div>

        <div class="no-results" *ngIf="!isLoading && searchQuery && !hasFilteredTasks">
          <p>No match found!</p>
        </div>

        <div *ngIf="showTaskDetail && selectedTask" class="dialog-overlay" (click)="closeTaskDetail()">
          <div class="dialog-container" (click)="$event.stopPropagation()">
            <app-task-detail-dialog [task]="selectedTask" (closed)="closeTaskDetail()"
              (taskUpdated)="onTaskUpdated()"></app-task-detail-dialog>
          </div>
        </div>

        <div *ngIf="showAddTask" class="dialog-overlay" (click)="closeAddTask()">
          <div class="dialog-container" (click)="$event.stopPropagation()">
            <app-add-task-dialog (closed)="closeAddTask()"></app-add-task-dialog>
          </div>
        </div>
      </div>
