.legal {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.legal-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 100ms;

  div {
    display: contents;
  }

  img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.legal-main {
  padding: 48px 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;

  &__title {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #000;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 4px;
  }

  a {
    color: #29abe2;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 700;
  }

  time {
    font-size: 16px;
    color: #000;
  }

  .date {
    padding-top: 16px;
  }
}

@media (max-width: 1024px) {
  .legal-main {
    padding: 48px 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;

    &__title {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 768px) {
  .legal-main {
    padding: 48px 32px;
  }
}

@media (max-width: 480px) {
  .legal-main {
    padding: 48px 20px;

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }
  }
}
@media (max-width: 360px) {
  .legal-main__title {
    font-size: 35px;
  }
}
