.legal {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.legal-main {
  padding: 48px 64px;
  max-width: 860px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;

  &__title {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #000;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 4px;
  }

  a {
    color: #29abe2;

    &:hover {
      text-decoration: underline;
    }
  }

  .highlight {
    color: #29abe2;
  }

  strong {
    font-weight: 700;
  }

  time {
    font-size: 16px;
    color: #000;
  }

  .date {
    padding-top: 16px;
  }
}

@media (max-width: 1024px) {
  .legal-main {
    padding: 48px 40px;
  }

  .legal-main {
    padding: 48px 64px;
    max-width: 860px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;

    &__title {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 480px) {
  .legal-main {
    padding: 48px 20px;
  }
}
