* {
  margin: 0;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  object-fit: cover;
  font-family: Inter;
}

html,
body {
  height: 100%;
}

$orange: rgb(255, 122, 0);
$violet: rgb(147, 39, 255);
$indigo: rgb(110, 82, 255);
$pink: rgb(252, 113, 255);
$yellow: rgb(255, 187, 43);
$turquoise: rgb(31, 215, 193);
$dark-purple: rgb(70, 47, 138);
$red: rgb(255, 70, 70);
$cyan: rgb(0, 190, 232);
$coral: rgb(255, 116, 94);
$darkblue: #2a3647;
$white: #ffffff;

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/inter-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}
